@font-face {
  font-family: "Rajdhani";
  src: local("Rajdhani"),
    url(../fonts/Rajdhani/Rajdhani-Regular.ttf) format("truetype");
}

html {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  color: white;
  font-family: "Rajdhani";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: "Rajdhani";
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

section {
}

.headingStyle h2,
.headingStyle h3,
.headingStyle p {
  background-color: #ff2a55;
  padding: 5px;
}

.headingStyle h2 span,
.headingStyle h3 span,
.headingStyle p span {
  background-color: black;
  padding: 0px 10px;
}

.padding {
  padding: 15px;
}

.sectionPadding {
  padding: 0px 15px 20px 0px;
}

.margin {
  margin: 15px;
}

.sectionMargin {
  margin: 15px 0px;
}

.h2margin {
  margin: 15px 0px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1365px;
}

a {
  color: #69efef;
  text-decoration: none;
}

.wrapper {
  width: 96vw;
}
@media (max-width: 768px) {
  .wrapper {
    width: 98vw;
  }
}
